@import './normalize';

*{
  box-sizing: border-box;
}

body{
  font-family: Tahoma, Arial, 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-self;
  color: #666;
  font-size: 14px;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul{
	margin: 0;
  padding: 0;
	list-style-type: none;
}